/* Created by pahefu @ 2017 
// Update to include NMS Gamepedia Wiki
// Update to include performance updates
*/

@font-face {
  font-family: 'HubFontText';
  src: url('../fonts/ec.woff2') format('woff2') /* Super Modern Browsers */
}

html{
	background-color: #000000 !important;
}

body{
	font-family: 'HubFontText';
}


#content{ /* Big content landscape */
	flex-grow: 2;
	margin:5px;
}

#mainnav{
	margin:4px;
	padding: 0px;
}

#mainnav > li{
	padding: 0px;
	text-decoration: none;
	display: inline-block;
}

#hubLogo{
	width: 25px;
}

#nameTag{
	font-size:2rem;
	text-shadow: 1px 1px 5px #666, -1px -1px 5px #dedede, 1px 1px #666, -1px -1px #dedede;
}

#version{
	border: 1px solid #6c7169;
    padding: 4px;
    background-color: #4a7980;
    border-radius: 5px;
}

#author{}

#menu{
	min-width:75px;			
	align-items: center;
	margin-top:10px;
	padding-right:4px;
	margin-right:4px;
	border-right: 2px solid #555555;
}

.menuitem{
	text-align:center;
	width:100%;
	line-height:50px;
	border-bottom: solid 3px transparent;
}

.menuitem:hover{
	border-bottom: solid 3px #cecece;
	cursor:pointer;
}

.menuitem.active{
	border-bottom: solid 3px #039db5;
}

.page{
	display:none;
}

.page.active{
	display:inherit;
}

#content{ /* Big content landscape */
	flex-grow: 2;
	margin:5px;
}

#hint {
	font-size: 0.9em;
	padding-top: 5px;
}

.setting{
	border-radius: 4px;
	max-width:550px;
}

.setting + .setting{
	margin-top: 15px;
}

.settingTitle{
	background-color:#2b5156;
	text-align:center;
	min-height:40px;
	line-height: 40px;
}

.settingText{
	padding: 8px;
	color: #000000;
	background-color:#ffffff;
	border-bottom:1px solid #dedede;
}

.settingValues{
	background-color:#ffffff;
	padding: 4px 0 4px 14px;
}

.settingValues input[type='text']{
	font-size:1rem;
}


/* Portrait mode */
@media (max-width : 600px) {
	
	#nameTag{
		font-size:1.2rem;
	}
	
	#menu{
		border:none;
		line-height:50px;
		margin:0px 10px 5px 0px;
	}
	
	#mainnav > li{
		text-decoration: none;
		text-align:center;
		display: inherit;
	}
	
	#author{
		text-align:center;
	}
	
	.menuitem{
		flex-grow:1; 
	}
}

/* OLD STUFF */



table{
	text-align:center;
	width:100%;
}

.centered{
	text-align:center;
}

#systemGridTable{
	margin-top:15px;
	border:1px solid #dadada;
}

#listSearchKey{
}

#distancessharedtable{
	margin-top:0.5em;
}


.gridStarRow:hover{
	background-color: #EBE1D3;
	
}

.gridStarName{
	cursor:pointer;
}

.gridStarColor{
	width:20px;
	height:20px;
	margin-left:auto;
	margin-right:auto;
}

#canvasButtonParent{
	position: absolute;
}

#poweredBy{
	color:white;
	text-align: center !important;
	line-height: 35px !important;
	height:35px !important;
}

.poweredByContent{
	display:inline-block;
	height:100%;
	vertical-align:middle;
}

#canvasControls{
	max-width:300px;
}

.dinline{
	display:inline-table;
	vertical-align: middle;
}

.phoriaRotationRange{
	max-width:200px; 
	background-color: inherit;
}



.phoriaLabelOption{
	background-color: #2c3e50;
}

