<!doctype html>

<!-- Created by pahefu @ 2017 -->
<!-- Version review 0.3 -->
<!-- Applied performance updates (twice) -->

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" href="./css/blaze.min.css">
		
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./css/hubfont.css">
				
		<script src="./js/gl-matrix-min.js"></script>
		<script src="./js/phoria-min.js"></script>
		<script src="./js/trilateration.js"></script>
		
		<script src="./js/vue.min.js"></script>	
		<script src="./js/zepto.min.js"></script>
		<script src="./js/metadata.js"></script>

		<title>NMS The HUB: Management System</title>
	</head>
	
	<body>

		<script type="text/javascript">
			var requestAnimFrame = window.requestAnimationFrame || window.webkitRequestAnimationFrame ||
			window.mozRequestAnimationFrame || window.msRequestAnimationFrame || 
			function(c) {window.setTimeout(c, 250)};

			// bind to window onload event
			window.addEventListener('load', onloadHandler, false);

			function onloadHandler(){
				phoriaHandler.initialize("canvas","canvasParent");
				regionHandler.initialize();
				
				loadMetaData(); // Local metadata loading

				systemSelectionApp.applyFilter();

				loadDataFromWiki(); // Here we load the data
				
				/*var pause = false;
				var fnAnimate = function() {
				  if (!pause){
					 phoriaHandler.scene.modelView();
					 phoriaHandler.renderer.render(phoriaHandler.scene);
				  }
				  requestAnimFrame(fnAnimate);
				};*/
			}

		</script>
	
		<div container style="max-width:inherit!important;">

			<ul id="brand" class="c-nav c-nav--inline">
				<li class="c-nav__content nopadding logoParent"><img id="hubLogo" src="./img/hublogo.png"/></li>
				<li class="c-nav__content nopadding">
					NMS The Hub Management System 
					<span class="c-badge c-badge--brand">v.0.4</span>
				</li>
			</ul>

			<div  class="o-grid  o-grid--wrap">
				<div id="leftpanel" class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-40@small">
					
					<div id="mainsectionblock" class="c-card">

						<div class="c-tabs">
							<div class="c-tabs__headings" id="uiSelectionApp">
								<div v-bind:class="{ 'c-tab-heading': isTab , 'c-tab-heading--active': viewSystemList }" id="systemListTab" v-on:click="showSystemList">
									<i class="icon-target"></i> System selection
								</div>
								<div v-bind:class="{ 'c-tab-heading': isTab , 'c-tab-heading--active': viewMaterials }" id="materialsTab" v-on:click="showMaterials">
									<i class="icon-chart-line"></i> Materials list
								</div>	
								<div v-bind:class="{ 'c-tab-heading': isTab , 'c-tab-heading--active': viewSettings }" id="materialsTab" v-on:click="showSettings">
									<i class="icon-space-shuttle"></i> Settings
								</div>										
							</div>
							
							<!-- System selection APP -->
							<div id="systemSelectionApp" v-bind:class="{ 'c-tabs__tab': isTab , 'c-tabs__tab--active': viewActive }">
								
								<div class="paneltitle" >System selection</div> 
								
								<div class="c-alert c-alert--brand" v-show="wikiLoading">
									Loading data from wiki ...
								</div>
								
								<div>Click on a system name to see it or type below to filter the list in real time</div>
								
								<input type="text" class="c-field" id="systemFilterTexBox" v-model="systemFilter" :disabled="wikiLoading">
								<div class="c-hint" style="position:inherit;">Special filters available: <strong>race:Initial letter</strong> and <strong>color:Initial letter</strong> (i.e race:g , color:y)</div>
								
								<div id="listGridParent">
									<table id="systemGridTable" class="c-table">
										<thead class="c-table__head">
											<tr class="c-table__row c-table__row--heading">
												<th class="c-table__cell">ID</th>
												<th class="c-table__cell">Name</th>
												<th class="c-table__cell">Color</th>
												<th class="c-table__cell">Race</th>
											</tr>
										</thead>
										<tbody class="c-table__body">
											<template v-for="system of visibleSystems">
												<tr class="gridStarRow c-table__row">
													<td class="c-table__cell">{{system.getHexSolarId()}}</td>
													<td class="c-table__cell gridStarName" :id='"#sys_"+system.solarIndex' v-on:click="showSystem" >{{system.getName()}}</td>
													<td class="c-table__cell"><div class="gridStarColor" :style="system.getBgColor()"></div></td>
													<td class="c-table__cell">{{system.getRaceName()}}</td>
												</tr>
											</template>
										</tbody>
									</table>
									
									<div id="systemListFooter" v-if="visibleSystems.length>0">
										<hr/>
										<div> Page {{currentPage +1 }} of {{maxPages}}   
											<button class="c-button icon-left-open u-small" title="previous" v-on:click="prevPage"> </button> 
											<button class="c-button icon-right-open u-small" title="next"  v-on:click="nextPage"> </button> 
										</div>
									</div>
								</div>
	
							</div>
							<!-- End of SystemSelection APP -->
							
							<!-- Material list APP -->
							<div id="materialSelectionApp" v-bind:class="{ 'c-tabs__tab': isTab , 'c-tabs__tab--active': viewActive }">
								<div class="paneltitle">Materials list</div>
								<div>click on a material button to check where you can find it in the hub</div>

								<div id="materialbuttonsgrid">
									<template v-for="(mat, index) of materials">
										<div column="6" class="materialbuttondiv">
											<button class="materialbutton c-button u-medium" :id='"#mat_"+mat.id' v-on:click="selectMaterial">{{mat.name}}</button>
										</div>
									</template>
								</div>

								<div>
									<div class="paneltitle">Material information</div>
									<div id="materialDescriptionParent">
										<div v-if="selectedMat!=undefined">
											<table id="materialdescriptiontable" class="c-table" >
												<thead class="c-table__head">
													<tr class="c-table__row c-table__row--heading">
														<th class="c-table__cell">Name</th><th class="c-table__cell">Requires tool</th><th class="c-table__cell">Available always</th><th class="c-table__cell">Notes</th>
													</tr>
												</thead>
												<tbody class="c-table__body">
													<tr class="c-table__row">
														<td class="c-table__cell">{{selectedMat.name}}</td>
														<td class="c-table__cell">{{selectedMat.tool}}</td>
														<td class="c-table__cell">{{selectedMat.allPlanets}}</td>
														<td class="c-table__cell">{{selectedMat.notes}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div v-else>
											Pick one material to see where to get it.
										</div>
									</div>
									
									<div class="paneltitle">Associated systems</div>
									
									<!-- Material result -->
									<div id="materialGridParent">

										<!-- Material sources -->
										<div v-if="selectedMat!=undefined">
											<!-- Visible table -->
											<div v-if="visibleSystems.length!=0">
												<table id="materialSourcesGridTable"  class="c-table">
													<thead class="c-table__head">
														<tr  class="c-table__row c-table__row--heading">
															<th class="c-table__cell">ID</th><th class="c-table__cell">System Name</th><th class="c-table__cell">Location</th><th class="c-table__cell">Notes</th>
														</tr>
													</thead>
													<tbody class="c-table__body">
														<template v-for="system of visibleSystems">
															<tr class="gridStarRow c-table__row">
																<td class="c-table__cell">{{system.solarIndexHex}}</td>
																<td class="gridStarName c-table__cell" :id='"#matsys_"+system.solarIndex' v-on:click="showSystem" >{{system.getName()}}</td>
																<td class="c-table__cell">
																	<div v-if="system.inStation">In space station</div>
																	<div v-else>In planet</div>
																</td>
																<td class="c-table__cell">{{system.notes}}</td>
															</tr>
														</template>
													</tbody>
												</table>
												
												<hr/>
											
												<div> Page {{currentPage +1 }} of {{maxPages}}   
													<button class="c-button icon-left-open u-small" title="previous" v-on:click="prevPage"> </button> 
													<button class="c-button icon-right-open u-small" title="next"  v-on:click="nextPage"> </button> 
												</div>
										
											</div>
											<div v-else>
												<div v-if="!selectedMat.allPlanets">
													<div class="centered"><strong>No associated systems known</strong></div>
												</div>
												<div v-else>
													<div class="centered"><strong>Available in all planets</strong></div>
												</div>
											</div>

										</div>										
									</div>
								</div>
							</div>
							<!-- End of material list APP -->
							
							<!-- Settings APP -->
							<div id="settingsPanelApp" v-bind:class="{ 'c-tabs__tab': isTab , 'c-tabs__tab--active': viewActive }">
							
								<fieldset class="o-fieldset">
									<div class="c-input-group">
									  <button class="c-button c-button--brand">Platform</button>
									  <div class="o-field">
										<select class="c-field" v-model="current_platform" v-on:change="applySettings">
											<option value="1" selected>PS4</option>
											<option value="2">PC</option>
										</select>
									  </div>
									</div>
								</fieldset>
								
								<fieldset class="o-fieldset">
									<div class="c-input-group">
									  <button class="c-button c-button--brand">Items per page</button>
									  <div class="o-field">
										<input type="text" class="c-field" v-model="items_per_page" v-on:change="applySettings">
									  </div>
									</div>
								</fieldset>
							
							</div>
							<!-- End of settings APP -->
						</div>
					</div>
					
					<div id="poweredBy">
						<div class="poweredByContent">
							Powered by NMS Wiki at 
							<a class="poweredByContent" href="http://nomanssky.gamepedia.com">
								<img src="http://nomanssky.gamepedia.com/skins/Hydra/images/netbar/logo-fallback.png" alt="Gamepedia wiki"/>
							</a>
						</div>						
					</div>
				</div>
								
				<div id="drawPanelApp" class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-60@small">
					<div id="canvasControls">
						<ul class="c-card c-card--menu">
							<li class="c-card__item c-card__item--brand">
								<div class="dinline">Showing: </div>								  
								<select class="c-field dinline" id="phoriaLabelSelect" v-model="labelType" v-on:change="updateLabels">
									<option class="phoriaLabelOption" value="1" selected>Names</option>
									<option class="phoriaLabelOption" value="2">IDS</option>
									<option class="phoriaLabelOption" value="3">Mixed</option>
									<option class="phoriaLabelOption" value="0">None</option>
								</select>
							</li>
						
							<li class="c-card__item c-card__item--brand">
								<div class="dinline">Rotation: </div>						  
								<input type="range" class="dinline c-range phoriaRotationRange" v-model="horizontalAngle" v-on:input="updateCameraRotationH" v-on:change="updateCameraRotationH" min="0" max="270" step="1">
							</li>
							<li class="c-card__item c-card__item--brand">
								<div class="dinline">V Rotation: </div>						  
								<input type="range" class="dinline c-range phoriaRotationRange" v-model="verticalAngle"  v-on:input="updateCameraRotationV" v-on:change="updateCameraRotationV" min="0" max="180" step="1">
							</li>
						</ul>
					</div>
					<div id="canvasParent">

						<div id="canvasButtonParent">
							<span class="c-input-group">
								<button class="materialbutton c-button u-medium"  onclick="phoriaHandler.doZoom(true);"><i class="icon-zoom-in"></i></button>
								<button class="materialbutton c-button u-medium"  onclick="phoriaHandler.doZoom(false);"><i class="icon-zoom-out"></i></button>
								<button class="materialbutton c-button u-medium"  onclick="phoriaHandler.doUpDownCamera(true);"><i class="icon-up-bold"></i></button>
								<button class="materialbutton c-button u-medium"  onclick="phoriaHandler.doUpDownCamera(false);"><i class="icon-down-bold"></i></button>
							</span>
							<span class="c-input-group">
								<button class="materialbutton c-button u-medium"  onclick="phoriaHandler.rotateCamXZ(true);"><i class="icon-left-big"></i></button>
								<button class="materialbutton c-button u-medium"  onclick="phoriaHandler.rotateCamYZ(true);"><i class="icon-up-big"></i></button>
								<button class="materialbutton c-button u-medium"  onclick="phoriaHandler.rotateCamYZ(false);"><i class="icon-down-big"></i></button>
								<button class="materialbutton c-button u-medium"  onclick="phoriaHandler.rotateCamXZ(false);"><i class="icon-right-big"></i></button>
							</span>
							
						</div>

						<!-- Real canvas rendering here -->
						<canvas id="canvas" ></canvas>
						<!-- End of Canvas rendering -->
					</div>
				</div>
			</div>
		</div>

		<script src="./js/rdl.js"></script>

	</body>
</html>
